.sideMenuContainer{
    position: absolute;
    top: 70px;
    right: 1px;
    background: var(--primary-color);
    z-index: 9999;
    animation: 0.2s ease-in-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    height: 100vh;
    min-height: 350px;
    align-items: center;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }


.sideMenuContainer a{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.sideMenuTitle{
  background: var(--complete);
  color: black;
  width: 100%;
  text-align: center;
}